<!DOCTYPE html>
{% load static widget_tweaks %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Gerenciador Acadêmico - Login</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static "bootstrap/css/dashboard.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap/css/signin.css" %}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      {% if erro %}
        <div class="alert alert-danger" role="alert">{{erro}}</div>
      {% endif %}
      <form class="form-signin" method="post">
        {% csrf_token %}
        <h2 class="form-signin-heading">Acessar</h2>
        {% for campo in formulario %}
            <label class="sr-only">{{ campo.label_tag }}</label>
            {% render_field campo class="form-control" placeholder=campo.label %}
            {% for erro in campo.errors %}
                <span class="help-block">{{ erro }}</span>
            {% endfor %}
        {% endfor %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
      </form>
    </div> <!-- /container -->
  </body>
</html>
